{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Meal Log</title>
</head>

<body>

  <header>

    <nav class="navbar bg-light navbar-expand-sm">

      <a href="{% url 'home' %}" class="navbar-brand">Health Code</a>

      <ul class="navbar-nav">

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'community:community_list' %}">Community</a>
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'community:community' %}">Create post</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'calorieTracker:exercise' %}">Exercise Log</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'calorieTracker:meal_list' %}">View Meal Log</a>
        </li>
        {% else %}
        <p class="login mt-2">You are currently not logged in</p>
        <a href="{% url 'calorieTracker:signin' %}" class="login mt-2 ml-1"> Login</a>
        <a href="{% url 'calorieTracker:signup' %}" class="login mt-2 ml-1">| or sign up now</a>
        {% endif %}


        <li class="nav-item ">
          <a class="nav-link" href="{% url 'calorieTracker:muscle_search' %}">Exercise Search</a>
        </li>

  </header>



  <div class="card mt-4">

    <div class="card-header">
      <h1 class="text-center">Add Your Meals</h1>
    </div>

    <form method="POST" class="ml-5 mt-5">
      {% csrf_token %} <p>{{ form | crispy }}</p>
      <input type="submit" value="Save" class="btn btn-info btn-sm mb-5" />

    </form>

    <a href="{% url 'calorieTracker:meal_search' %}" class="text-dark ml-5 mt-5">
      <h3>
        Not Sure of the Nutritional Value of Your meal? Search for it here.

      </h3>

    </a>

  </div>


  <br />

  <div class="container-fluid">
    <footer class="rounded bg-light">
      <p class="text-center text-secondary py-2">&copy; Health Code 2023.</p>
    </footer>
  </div>


</body>

</html>